<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/book-grid.css?anything=stopcache38" />
</head>
<style>
    .text-white{
        color:#000000
    }
</style>
<body style="background: linear-gradient(-135deg, #1f1f98, #ffffff)">

    <div class = "back">
        <nav class="navbar navbar-light bg-light">
          <div class="container-nav">
              <a href="/profile"><h5>Home</h5></a>
              <a href="/recommend"><h5>Recommend</h5></a>
              <a href="/book"><h5>Top 50</h5></a>
              <a href = "/sign-out"><button class="btn btn-secondary" type="submit">Sign Out </button></a>
          </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Top 50 Books</h1>
            </div>

            {% for i in range(book_name|length) %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ image[i] }}">
                            <p class="text-0b0445">{{ book_name[i] }}</p>
                            <h4 class="text-0b0445">{{ author[i] }}</h4>
                            <h4 class="text-0b0445">Votes - {{ votes[i] }}</h4>
                            <h4 class="text-0b0445">Rating - {{ rating[i] }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

</body>
</html>